<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481212461105-uo1hf3b0gttlt62k13rdihriq98rjapf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481212461105-uo1hf3b0gttlt62k13rdihriq98rjapf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>481212461105-6j3o5oka70gjlikuoj1nd0tspnohhj8g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZZpfCu8UaVCrvVoFx2wvcKrJLI6j7aVo</string>
	<key>GCM_SENDER_ID</key>
	<string>481212461105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantOpsTracker</string>
	<key>PROJECT_ID</key>
	<string>opstracker-400a1</string>
	<key>STORAGE_BUCKET</key>
	<string>opstracker-400a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481212461105:ios:ca6887bb2a0ac2a9e02510</string>
</dict>
</plist>